/* colors */

body{
color: #000000
#666666
#d1d2d3
#f2f2f2
#3f3244
#2f2235
#34d1d1
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    margin: 0;
}

body {

}

#header {
    align-items: center;
    display: flex;
    background-color: #2f2235;
    height: 60px;
    justify-content: space-between;
}

.title {
    color: #f2f2f2;
    font-size: 1.7rem;
    font-weight: 300;
    margin-left: 60px;
}

.title-alt-color {
    color: #34d1d1;
}

.header-break {
    display: none;
}

.name {
    color: #f2f2f2;
    font-size: 1.2rem;
    margin-right: 60px;
}

.subject-break {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 60px 50px;
}

.subject {
    font-size: 1.2rem;
    margin-right: 30px;
}

.line-break {
    border: .5px solid #d1d2d3;
    height: .5px;
    margin-top: 10px;
    width: 80%;
}

#main-content {
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100vw;
}

.tab-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
}

.nav-item {
    align-items: center;
    background-color: #f2f2f2;
    border-bottom: 1px solid #d1d2d3;
    border-left: 1px solid #fff;
    color: #666;
    cursor: pointer;
    display: flex;
    font-size: 1.3rem;
    height: 50px;
    justify-content: center;
    width: 25%;
}

.is-active {
    background-color: #fff;
    border: 1px solid #d1d2d3;
    border-bottom: 1px solid #fff;
    font-weight: 600;
}

.plus {
    display: none;
    font-size: 1.8rem;
}

.content-container {
    border: 1px solid #d1d2d3;
    border-top: 1px solid #fff;
    display: flex;
    padding: 20px;
    order: 5;
    width: 100%;
}

.image {
    height: 340px;
    margin-top: 40px;
    margin-right: 20px;
    width: 320px
}

.text-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
}

.text-break {
    border: .5px solid #d1d2d3;
}

.text-content {
    font-size: 1.2rem;
}

.text {
    margin-top: 30px;
}

.is-hidden {
    display: none;
}

.view-code {
    align-items: center;
    background-color: #2f2235;
    color: #fff;
    display: flex;
    font-size: 1.2rem;
    height: 50px;
    justify-content: center;
    margin: 40px;
    text-decoration: none;
    width: 350px;
}

#flex-card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 33% 33% 33%;
  width: 100%;
}

.card-header {
  align-items: center;
  background-color: #f2f2f2;
  border-bottom: 1px solid #d1d2d3;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  height: 50px;
  padding-left: 10px;
}

.card {
  border: 1px solid #d1d2d3;
  height: 320px;
  margin: 20px;
  position: relative;
}

.card-image {
  position: absolute;
}

.card-1 {
  grid-column: 1 / span 2;
  background-image: url(./assets/placeholder-square.jpg);
  background-position: center;
}

.card-2 {
  grid-column: 3;
  background-image: url(./assets/placeholder-square.jpg);
  background-position: center;
}

.card-3 {
  grid-column: 1;
  grid-row: 2;
  background-image: url(./assets/placeholder-square.jpg);
  background-position: center;
}

.card-4 {
  grid-column: 2;
  grid-row: 2;
  background-image: url(./assets/placeholder-square.jpg);
  background-position: center;
}

.card-5 {
  grid-column: 3;
  grid-row: 2;
  background-image: url(./assets/placeholder-square.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.card-6 {
  grid-column: 1;
  grid-row: 3;
  background-image: url(./assets/placeholder-square.jpg);
  background-position: center;
}

.card-7 {
  grid-column: 2 / span 3;
  grid-row: 3;
  background-image: url(./assets/placeholder-square.jpg);
  background-position: center;
}

.ghost-card {
  display: none;
}

.header-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.header-bar .header-title {
  display: flex;
  justify-content: center;
  height: 100%;
}

.menu-text {
  display: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #D1D2D3;
  height: 125px;
  width: 90%;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
}

a {
  font-size: 24px;
  color: #666;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 20%;
  cursor: pointer;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.header-title {
  display: none;
}

.logo {
  height: auto;
  width: 75px;
  border-radius: 5000px;
}

input {
  border: 1px solid #666;
  background-color: #F2F2F2;
  background-image: url(./assets/magnifier-tool.svg);
  background-position: 2% center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  font-size: 20px;
  height: 34px;
  padding-left: 35px;
  width: 33%;
}



@media (max-width: 1040px) {
  .subject-break {
    flex-direction: column;
    margin-top: 40px;
  }

  .content-container {
    align-items: center;
    flex-direction: column;
  }

  .subject {
    margin-right: 0;
  }
}

@media (max-width: 970px) {
  .card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 306px;
  }

  .ghost-card {
    display: unset;
    height: 1px;
    margin: 20px;
    width: 306px;
  }
}


@media (max-width: 720px) {
  #header {
    flex-direction: column;
    height: 120px;
    padding: 0 50px;
  }

  .header-break {
    display: unset;
  }

  .line-break {
    width: 30%;
  }

  .title,
  .name {
    margin: 10px 0;
  }

  .tab-container {
    width: 90%;
  }

  .tabs {
    flex-direction: column;
  }

  .header-nav {
    flex-wrap: wrap;
  }

  .nav-item {
    border: 1px solid #fff;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
  }

  .is-active {
    border: 1px solid #d1d2d3;
  }

  .plus {
    display: unset;
  }

  .content-container {
    border: 1px solid #d1d2d3;
    border-top: 0px;
    order: 0;
    padding: 0;
  }

  .text-content  {
    padding: 20px;
  }

  .image {
    border-bottom: 1px solid #d1d2d3;
    height: 100%;
    margin-right: 0;
    margin-top: 0;
    width: 100%;
  }

  .view-code {
    width: 90%;
  }

  .menu {
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 100px;
    width: 100%;
  }

  .logo {
    height: 80%;
    margin: 0 0 0 25px;
    width: auto;
  }

  .menu-text {
    align-items: center;
    display: flex;
    font-weight: 300;
    height: 100%;
    margin: 0;
    justify-content: flex-end;
    width: 75%;
    cursor: pointer;
  }

  .menu-text:hover {
    color: white;
  }

  .navigation {
    display: none;
  }

  .show {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #E6E6E6;
    margin-bottom: 25px;
  }

  .navigation a {
    font-size: 20px;
    width: 100%;
  }

  input {
    align-items: center;
    margin-bottom: 20px;
    width: 95%;
  }
}
